In [1]:
import httpx
import pandas as pd
from tqdm import trange

Основная информация о видео https://rutube.ru/api/video/...
Лайки/дизлайки https://rutube.ru/api/numerator/video/.../vote
Комментарии https://rutube.ru/api/comments/video/...
Информация о канале // https://rutube.ru/api/profile/user/...

In [2]:
videos_df = pd.DataFrame(columns=['url', 'title','description', 'hits', 'duration', 'likes', 'dislikes', 'comments_count', 'author_id', 'created_ts', 'publication_ts'])
videos_df

Empty DataFrame
Columns: [url, title, description, hits, duration, likes, dislikes, comments_count, author_id, created_ts, publication_ts]
Index: []

In [3]:
authors_df = pd.DataFrame(columns=['id', 'channel_name', 'channel_description', 'followers', 'is_official_channel'])
authors_df

Empty DataFrame
Columns: [id, channel_name, channel_description, followers, is_official_channel]
Index: []

In [4]:
comments_df = pd.DataFrame(columns=['id', 'video_id', 'author_id', 'text', 'created_ts', 'likes', 'dislikes', 'replies_count'])
comments_df

Empty DataFrame
Columns: [id, video_id, author_id, text, created_ts, likes, dislikes, replies_count]
Index: []

In [5]:
for page_num in trange(1,2):
    videos = httpx.get(f'https://rutube.ru/api/video/category/8/?page={page_num}')
    videos_json = videos.json()
    for video in videos_json['results']:
        videos_df.loc[len(videos_df.index), 'url'] = video['id']

100%|██████████| 1/1 [00:00<00:00,  1.13it/s]

In [6]:
videos_df

,url,title,description,hits,duration,likes,dislikes,comments_count,author_id,created_ts,publication_ts
0,0006580cbbb03928c633bca451ab035f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0b5f72b72f58bb9535f755c6794fae71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,127043fd2c5108b4536d708e1463419e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,172a037a17a3a9a33a3513dc6e1696d2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1ccaebb582723bccc71a979eb2558bd1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,81f8bbf24f2c73bc2c040c90fd2648f8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,4ab69c5364362ebafc20bb190d282316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2f9a94817be3d58f209e42394ad41fff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,34a6687124c2a53ed0b4e367c9e01618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,bff20999a83b1dbf7b811250f0c1bef7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
videos_df.to_csv('./data/videos.csv', index=False)
authors_df.to_csv('./data/authors.csv', index=False)
comments_df.to_csv('./data/comments.csv', index=False)